

.header {
        padding: 28px;
        text-align: center;
        background-color: #fcccf6;
        color: #666666;
        font-size: 20px;
      }

.head-options {
    color:purple;
    text-align: center;
    padding: 27px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
    background-color:#fcccf6;}

body {
   /* background-image: url(https://66.media.tumblr.com/5f271af569c4ffae7fda1a5c5ec61076/tumblr_o0rxw4AfPA1v0gyw0o1_1280.jpg);*/
    background-image: url(https://66.media.tumblr.com/1c244ec3acf4681fb876cde6e5cd405b/tumblr_muwf9vvgJ11s9oh9eo1_r1_1280.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-family: 'Amatic SC', cursive;}

.content {
    text-align: center
    font-size: 80px;
    padding: 4px;
    border-radius:4px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}

.text-box {
    text-align: center;
    margin:auto; 
    padding: 100px;
    font-size: 80px;
    color: whitesmoke;
    }


.column {
    float: left;
    width: 32.5%;
    padding: 5px;
  }
  
  /*.row::after {
    content: "";
    clear: both;
    display: table;
  }*/

 #construction-dog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
 }

 /*this is where my tested css stops*/
 .box{
	margin-top: 20px;
	width:75%;
	margin-left: auto ;
    margin-right: auto ;
    height: 1250px;
    background-color: #d3d3ffd0;
    border-radius: 2%;
    
}

.blog-post{
    margin-top:20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
}
.blog-heading{

    margin-bottom:10px;
    font-family: 'Amatic SC', cursive;
}

.blog-image {
    align-content: center;
}

#this {
    border-color:red green blue yellow ;
    border-style: dotted dashed solid double;
    border-width: 10%;
}